<!DOCTYPE html>
<html>
  <head>
    <title>OTP Verification</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="row">
      <div class="column">
        <img
          src="/images/Enter OTP-bro.png"
          style="height: 70%; width: 70%"
          class="img1"
        />
        <div class="title1">
          <h2 style="color: #3f1569">Tools that Drive Users to Whatsapp</h2>
          <h4 style="color: black">
            Create Unlimited FREE Whatsapp Links and URL
          </h4>
        </div>
      </div>
      <div class="column">
        <div class="testbox">
          <form action="/generateotp" method="post">
            <div class="banner">
              <img
                src="https://cdn.pixabay.com/photo/2017/02/16/12/04/whatsapp-2071331__340.png"
                style="height: 40px; margin-top: 0px; margin-left: -20px"
              />
              <h2>SEND OTP THROUGH WHATSAPP</h2>
            </div>
            <div class="colums">
              <div class="item">
                <label for="fname"> First Name<span>*</span></label>
                <input id="fname" type="text" name="first" required />
              </div>
              <div class="item">
                <label for="lname"> Last Name<span>*</span></label>
                <input id="lname" type="text" name="last" required />
              </div>

              <div class="item">
                <label for="eaddress">Email Address<span>*</span></label>
                <input id="eaddress" type="text" name="email" required />
              </div>
              <div class="item">
                <label for="phone">Phone<span>*</span></label>
                <input id="phone" type="tel" name="phone" required />
              </div>
            </div>

            <div class="btn-block">
              <input
                class="button1"
                type="submit"
                href="/"
                value="Generate OTP"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
